 #loading-screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0008;
}
body {
  margin: 0 auto;
  padding: 0;
  background: rgb(6, 34, 24);
  background: -webkit-linear-gradient(
    bottom right,
    rgb(3, 37, 25),
    rgb(248, 16, 198)
  );
  background: -moz-linear-gradient(
    bottom right,
    rgba(43, 232, 162, 1),
    rgba(115, 205, 155, 1)
  );
  background: linear-gradient(
    to top left,
    rgb(175, 232, 43),
    rgb(168, 91, 204)
  );
  font-family: 'Lato', sans-serif;
}
.photo {
  width: 350px;
  height: 250px;
}
.firstDiv {
  border: 2px solid black;
}
#main-container {
  background-color: rgb(248, 248, 248);
}
.descriptionFont {
  font-family: 'Lato', sans-serif;
}
.picture {
  border: 3px solid rgb(255, 255, 255);
}
.stickyCss{
  background-color: rgba(255, 255, 255, 0.533);
}